@import "tailwindcss";

@theme {
  --color-brand-50: #f0fdf5;
  --color-brand-100: #dcfce8;
  --color-brand-500: #22c55e;
  --color-brand-600: #16a34a;
  --color-brand-700: #15803d;
}

body {
  @apply bg-stone-50 text-stone-900 antialiased;
}
